.logo {
    width: 18%;
    height: auto;
    margin-bottom: 35px;

}
.heading-logo {
    display:flex;
    flex-direction: row;
    width:50%;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 899px){
   .logo{
        display: none;
    }

}
