@charset "utf-8";
// @import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/material-design-lite/material.min.css";
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./login-splash";
@import "./modal";
@import "./subject-card";
@import "./subject";
@import "./logo";


@mixin flexCenter ($direction,$background){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}
$primaryColor:rgb(138, 187, 150) ;
$secondaryColor:rgba(46, 86, 62, 0.404) ;
$btnColor: #066fa0b6 ;

@keyframes animatedBackground {
	from { background-position: 150%; }
	to { background-position: 200%; }
}
#root{
    height: 100%;
    @include flexCenter(column, url(../assets/logoscatterbrain.svg) );
    font-family: "Poppins", sans-serif;
    background-size: 200%;
    background-position: center;
    background-position: 150%;
	background-repeat: repeat-x;

	animation: animatedBackground 60s linear infinite;

   }

.home{
    align-items: flex-start;
    height: 100%;
    width:100%;
   
}
 
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: flex-end;
     background-color: $primaryColor;
     height: 30vh;
     border-top-right-radius: 30vh;
     border-top-left-radius: 4vh;
     
 }
 .heading{
     color: white;
     text-shadow:2px 2px $secondaryColor;
   
 }
 .field{
     height:100vh;
     display: flex;
     background-color: rgba(255, 255, 255, 0.657);
     flex-wrap: wrap;
     align-content:flex-start ;
    
 }
  
 .buttons-container{
    margin-top: 3%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;

    
 }
 .mdl-button{
     background-color: $btnColor;
     color: black;
     
 }
.util-button{
    color:black;
}
.util-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}
.search-container{
    display: flex;
    flex-direction: row;
   
}
 input[type=text]{
     border-bottom:2px solid $secondaryColor;
 }
  @media only screen and (max-width: 870px){
      header{
          justify-content: space-evenly;
      }

}
 @media only screen and (max-width: 768px) {
     .field{
         width:100%;
         background-color: white;
     }
    .buttons-container{
        display: flex;
        margin-top: 5%;
        margin-right: 0;
        flex-direction: column;
    
    }
    .body{
        height: 100%;
        @include flexCenter(column, $secondaryColor );
        font-family: "Poppins", sans-serif;
        
    }

}

// @import "../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/elements/button.sass";
// @import "../../node_modules/bulma/sass/elements/container.sass";
// @import "../../node_modules/bulma/sass/elements/title.sass";
// @import "../../node_modules/bulma/sass/form/_all.sass";
// @import "../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";
// @import "../../node_modules/bulma/sass/layout/section.sass";